<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista 1 POO</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet">

</head>
<body>
	<a th:href="@{/cadastrar-clientes}"><span>Cadastrar Clientes</span></a><br />
	<a th:href="@{/logout}"><span>Sair</span></a><br />
	<h1>Lista de clientes!</h1>
	
	<div th:each="cliente:${clientes}">
	<p>Nome: <span th:text="${cliente.nome}"></span></p>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>