<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista 1 POO</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet">

</head>
<body>
	<h1>Formulário de login</h1>
	
	<form th:action="@{/login}" method="post">
	<input type="text" placeholder="e-mail" id="username" name="username"  /><br/>
	<input type="password" placeholder="senha" id="password" name="password"  /><br/>
	<input type="submit" value="Entrar"/>
	</form>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>